@charset "utf-8";
@font-face{font-family:'Noto Sans KR regular';font-style:normal;font-weight:400;src:local("Noto Sans KR Regular"),local("NotoSansKR-Regular"),url("../font/NotoSans-Regular.woff2") format("woff2"),url("../font/NotoSans-Regular.woff") format("woff")}
@font-face{font-family:'Noto Sans KR Medium';font-style:normal;font-weight:500;src:local("Noto Sans KR Medium"),local("NotoSansKR-Medium"),url("../font/NotoSans-Medium.woff2") format("woff2"),url("../font/NotoSans-Medium.woff") format("woff")}
@font-face{font-family:'Noto Sans KR Bold';font-style:normal;font-weight:700;src:local("Noto Sans KR Bold"),local("NotoSansKR-Bold"),url("../font/NotoSans-Bold.woff2") format("woff2"),url("../font/NotoSans-Bold.woff") format("woff")}
@font-face{font-family:'Roboto Medium';font-style:normal;font-weight:500;src:local("Roboto Medium"),local("Roboto-Medium"),url("../font/Roboto-Medium.woff2") format("woff2"),url("../font/Roboto-Medium.woff2") format("woff")}
@font-face{font-family:'Roboto Bold';font-style:normal;font-weight:700;src:local("Roboto Bold"),local("Roboto-Bold"),url("../font/Roboto-Bold.woff2") format("woff2"),url("../font/Roboto-Bold.woff2") format("woff")}
/* @font-face{font-family:'Roboto Black';font-style:normal;font-weight:900;src:local("Roboto Black"),local("Roboto-Black"),url("../../fonts/roboto/Roboto-Black.woff2") format("woff2"),url("../../fonts/roboto/Roboto-Black.woff") format("woff")} */
.fonts-load{visibility:hidden}
.fonts-loaded .fonts-load{visibility:visible}

/* common.css */

html,body{ margin:0; }
*{
    box-sizing: border-box;
    color:#626262;
    font-family: "Noto Sans KR Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
}
ul,li{
    list-style-type: none;
    margin:0; padding:0;
}
h1,h2,h3,h4,h5,h6,p{ margin:0; }
img{vertical-align: top;}
a{text-decoration: none;}

header{
    width: 100%; height: 88px;
    position: fixed;
    padding: 0 3%;
    top: 0; left: 0;
    border: 1px solid rgb(241, 231, 231);
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 99999;
    /* display: none; */
}
header > .skipnav{}
header > .sitelogo{
}
header > .sitelogo > a{
   width: 139px; height: 40px;
}
header > .sitelogo > a > img{
    width: 139px; height: 42px;
}
header > .top-nav{
    width: 100%;
    padding: 0; margin: 0;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-family: "Noto Sans KR Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 500;
    color: #333;
    text-align: center;
    position: relative;
}
header > .top-nav > ul{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center
}
header > .top-nav > ul > li{
    width: 260px;
    padding: 29.5px;
}

header > .top-nav > ul > li > a{
   color: #333;
   font-weight: 500;
   font-family: "Noto Sans KR Medium";
}


/* ,는 여러개의 명령을 동시에 전달할때 사용 */

header > .top-nav > ul > li:hover,
header > .top-nav > ul > li.active{                /* on1==================================================================== */
    border-bottom: 2px solid rgb(41, 156, 156);
}

header > .top-nav > ul > li:hover a,
header > .top-nav > ul > li.active a{              /* on1==================================================================== */
    color: rgb(41, 156, 156);
}

header > .burger-manu{
}
header > .burger-manu > .list-burger-manu{
    width: 32px; height: 23px;
    margin: 0 0 0 40px;
}
header > .burger-manu > .list-burger-manu > .btn-list-burger-manu{
    width: 32px; height: 23px;
    padding: 0;
    background :none;
    border: none;
    cursor: pointer;
}

header > .burger-manu > .list-burger-manu > .btn-list-burger-manu:active

header > .burger-manu > .list-burger-manu > .btn-list-burger-manu > span{
    width: 100%; height: 23px;
    display: block;
    
    
}
header > .burger-manu > .list-burger-manu > .btn-list-burger-manu > span:nth-of-type(1){
    background-color: #333;
     height: 3px;
    display: block;
}
header > .burger-manu > .list-burger-manu > .btn-list-burger-manu > span:nth-of-type(2){
    background-color: #333;
     height: 3px;
    margin-top: 7px;
    display: block;
}
header > .burger-manu > .list-burger-manu > .btn-list-burger-manu > span:nth-of-type(3){
    background-color: #333;
     height: 3px;
    margin-top: 7px;
    display: block;
}
footer{
    border-top: 1px solid rgb(161, 156, 156);
    position: static;
    right: 0;
     left: 0;
     bottom: 0;
     font-family: "Noto Sans KR Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
     background-color: #fff;
     z-index: 999999;
  }
  footer > .inner-container-X1{
     width: 100%;
     padding: 27px 20px 42px 20PX;
     position: relative;
  }
  footer > .inner-container-X1 > div:nth-of-type(1){
     position: absolute;
     width: 180px;
     top: 31px; right: 80px;
     border-bottom: 1px solid #918b8b;
     color: rgb(179, 170, 170);
     z-index: 900;
     cursor: pointer;
  }
  footer > .inner-container-X1 > div:nth-of-type(1)::after{
     content: url(../img/ico_arrow_btm.png);
     padding-left: 64px;
     cursor: pointer;
  }
  footer > .inner-container-X1 > div:nth-of-type(1) > button{
     background-color: white;
     border: none;
     font-size: 16px;
     padding: 0 0 10px 18px;
     position: relative;
     cursor: pointer;
  }
 
  footer > .inner-container-X1 > div:nth-of-type(1) > ul{
    display: none;            /* 변하는부분========================================================= */
    width: 100%; height: 0;   /* 변하는부분========================================================= */
    position: absolute;
    bottom: 43px;
    z-index: 10;
    padding: 10px 0;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    background: #fff;
    overflow: hidden;
    transition: 0.3s;
 
  }

  footer > .inner-container-X1 > div:nth-of-type(1) > ul.active{
   display: block;
   height: auto;
   z-index: 100000;
   transition: 0.3s;
  }

  footer > .inner-container-X1 > div:nth-of-type(1) > ul > li{
    display: list-item;
  }

  footer > .inner-container-X1 > div:nth-of-type(1) > ul > li > a{
   width: 100%;
   padding: 3px 17px;
   font-family: "Noto Sans KR Regular";
   font-weight: 400;
   font-size: 14px;
   color: #999;
   letter-spacing: -0.5px;
   text-decoration: none;
   display: inline-block;
  }
 
  /* footer > .inner-container-X1 > div:nth-of-type(1) > button::before{
     content: url(../img/ico_arrow_btm.png);
     position: absolute;
     background-image: url(../img/ico_arrow_btm.png);
     top: 0%; right: 0;
  } */
  footer > .inner-container-X1 > ul{
     margin: 0 0 0 -5px;
     display: flex;
     font-weight: bold;
     color: #000;
  }
  footer > .inner-container-X1 > ul > li{
    font-size: 16px;
    letter-spacing: -0.5px;
  }
  footer > .inner-container-X1 > ul > li:nth-of-type(1){
    padding-left: 65px;
  }
  footer > .inner-container-X1 > ul > li:nth-of-type(2){
    padding-left: 40px;
  }
  footer > .inner-container-X1 > div:nth-of-type(2){
     display: flex;
     font-size: 14px;
     letter-spacing: -0.5px;
     padding-top: 6px;
     color: #666;
     
  }
  footer > .inner-container-X1 > div:nth-of-type(2) > address{
     padding-left: 60px;
     color: #999;
     font-style: normal;
     font-weight: 400;
  }
  footer > .inner-container-X1 > div:nth-of-type(2) > p{
     padding-left: 40px;
     color: rgb(179, 170, 170);
  }
  footer > .inner-container-X1 > div:nth-of-type(2) > small{
    padding-left: 40px;
    color: rgb(179, 170, 170);
  }

  .bottom-scrollbar{

  }
  .bottom-scrollbar li{}
  .bottom-scrollbar li a{

  } 
 
 .sidebar {
    width: 690px;
    position: fixed;
    top: 0;
    right: -690px;
    height: 100vh;
    z-index: 999999999;
    background: #fff;
    color: #333;
    transition: all 0.7s;
    border: 1px solid #918b8b;
    padding: 34px 20px 0;
    font-family: "Noto Sans KR Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
     color: #666;
     background-color: #fff;
     font-size: 16px;
     letter-spacing: -0.5px;
 }
 .sidebar.active {right:0;}
 
 .sidebar > .sidebar-top{
    height: 41px;
    display: flex;
    display: flex;justify-content: space-between;
 
 }

 .sidebar > .sidebar-top > a{
   height: 100%;
}

 .sidebar > .sidebar-top > a > img{
    height: 100%;
 }
 .sidebar > .sidebar-top > .close-button{
    width: 40px;
    padding: 0;
    margin: 0;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
 }
 .sidebar > .sidebar-top > .close-button.active{

 }

 .sidebar > .sidebar-top > .close-button > span{
    position: absolute;
    left: 0%;
    background-color: black;
    width: 100%;
    height: 3px;
 
 }
 .sidebar > .sidebar-top > .close-button > span:nth-of-type(1){
    transform: rotate(45deg);
 }
 .sidebar > .sidebar-top > .close-button > span:nth-of-type(2){
    transform: rotate(-45deg);
 }
 .sidebar > .sidebar-middle{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    font-weight: 700;
 }
 .sidebar > .sidebar-middle > .side-frame{
    padding-left: 20px;
    margin : 20px;
    display: block;
    width: 100%;
 }
 .sidebar > .sidebar-middle > .side-frame > .manu1{
    margin-bottom: 32px;
 }
 .sidebar > .sidebar-middle > .side-frame > .manu1 > span{
    font-family: "Noto Sans KR Bold";
     font-weight: 700;
     font-size: 25px;
     color: #000;
     
 }
 .sidebar > .sidebar-middle > .side-frame  >ul{
 
 }
 .sidebar > .sidebar-middle > .side-frame  >ul > li{
    height: 44px;
    display: list-item;
    letter-spacing: -0.5px;
 }
 .sidebar > .sidebar-middle > .side-frame  >ul > li > a{
    padding: 10px 0;
 }
 .sidebar > .sidebar-middle > .side-frame  >ul > li > a:hover span{  /* on2=========================================================================== */
    color: rgb(41, 156, 156);
 }
 .sidebar > .sidebar-middle > .side-frame >ul > li > a > span{
     font-size: 16px;
     letter-spacing: -0.5px;
     color: #333;
     font-family: "Noto Sans KR Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
 }
 
 .overlay {
    position: fixed;
    left: 0; top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9009;
    display: none;
    opacity: 0;
  }
 .overlay.active{
    display: block; /* transition은 display: block;은 적용x */
    /* opacity: 1; */
    animation: overlay 1s forwards   
 }
 @keyframes overlay {
   0%{display:block;}
   10%{opacity: 0;}
   100%{opacity: 1;}
 }

 .topmanubar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 155px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    font-family: "Noto Sans KR Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #666;
    background-color: #fff;
    font-size: 11px;
    letter-spacing: -0.5px;
    font-weight: 400;
    padding: 0 3%;
    position: fixed;
    top: -69px;
    /* display: none; */
    z-index: 10;
    transition: 0.5s;
 }

 .topmanubar.active{ top: 88px; }

 .topmanubar > div:nth-of-type(1){
   width: 139px; height: 42px;
 }
 .topmanubar > div:nth-of-type(2){
   display: flex;
 }
 .topmanubar > div:nth-of-type(2) > ul{
    width: 260px;
    height: 155px;
    padding-top: 24px;
    text-align: center;
    border-right: 1px solid #f1f1f1;


 }

 .topmanubar > div:nth-of-type(2) > ul:nth-of-type(1){
    border-left: 1px solid #f1f1f1;
 }

 .topmanubar > div:nth-of-type(2) > ul > li{
    width: 100%;
    height: 38px;
 }
 .topmanubar > div:nth-of-type(2) > ul > li > a{
    width: 100%;
    padding: 6px 0;
    display: block;
 }

 .topmanubar > div:nth-of-type(2) > ul > li > a > span{
   font-size: 16px;
 }

 .topmanubar > div:nth-of-type(2) > ul > li > a:hover > span{
   color: rgb(41, 156, 156);
 }
 .topmanubar > ul > li > a > span{}
 .topmanubar > div:nth-of-type(3){
   width: 32px; height: 23px;
   margin: 0 0 0 40px;
 }



 @media(max-width:1038px){
   header{
      width: 100%; height: 88px;
      position: fixed;
      padding: 0 3%;
      top: 0; left: 0;
      border: 1px solid rgb(241, 231, 231);
      background-color: white;
      /* display: flex; */
      align-items: center;
      justify-content: center;
      z-index: 99999;
  }
  header > .skipnav{}
  header > .sitelogo{
  }
  header > .sitelogo > a{
     width: 139px; height: 40px;
  }
  header > .sitelogo > a > img{
      width: 90px; height: 32px;
  }
  header > .top-nav{
      width: 100%;
      padding: 0; margin: 0;
      font-size: 20px;
      letter-spacing: -0.5px;
      font-family: "Noto Sans KR Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
      font-weight: bold;
      color: #666;
      text-align: center;
      position: relative;
      display: none;
  }
  header > .top-nav > ul{
      width: 100%; 
      display: flex;
      justify-content: center;
      align-content: center;
  }
  header > .top-nav > ul > li{
      width: 260px; 
      padding: 10px;
  }
  header > .burger-manu{
   position: absolute;
   right: 20px;
  }
  header > .burger-manu > .list-burger-manu{
      width: 24px; height: 23px;
      margin: 0 0 0 40px;
  }
  header > .burger-manu > .list-burger-manu > .btn-list-burger-manu{
      width: 24px; height: 23px;
      padding: 0;
      background :none;
      border: none;
      cursor: pointer;
  }
  header > .burger-manu > .list-burger-manu > .btn-list-burger-manu > span{
      width: 100%; height: 23px;
      display: block;
      
      
  }
  header > .burger-manu > .list-burger-manu > .btn-list-burger-manu > span:nth-of-type(1){
      background-color: #333;
       height: 2px;
      display: block;
  }
  header > .burger-manu > .list-burger-manu > .btn-list-burger-manu > span:nth-of-type(2){
      background-color: #333;
       height: 2px;
      margin-top: 5px;
      display: block;
  }
  header > .burger-manu > .list-burger-manu > .btn-list-burger-manu > span:nth-of-type(3){
      background-color: #333;
       height: 2px;
      margin-top: 5px;
      display: block;
  }

 .topmanubar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 155px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    font-family: "Noto Sans KR Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #666;
    background-color: #fff;
    font-size: 11px;
    letter-spacing: -0.5px;
    font-weight: bold;
    padding: 0 3%;
    position: fixed;
    top: -69px;
    /* display: none; */
    z-index: 10;
    transition: 0.7s;
 }

 .topmanubar.active{ top: 88px; }

 .topmanubar > div:nth-of-type(1){
   width: 139px; height: 42px;
 }
 .topmanubar > div:nth-of-type(2){
   display: flex;
 }
 .topmanubar > div:nth-of-type(2) > ul{
    width: 260px;
    height: 155px;
    padding-top: 24px;
    text-align: center;
    border-right: 1px solid #f1f1f1;


 }

 .topmanubar > div:nth-of-type(2) > ul:nth-of-type(1){
    border-left: 1px solid #f1f1f1;
 }

 .topmanubar > div:nth-of-type(2) > ul > li{
    width: 100%;
    height: 38px;
 }
 .topmanubar > div:nth-of-type(2) > ul > li > a{
    width: 100%;
    padding: 6px 0;
    display: block;
 }
 .topmanubar > div:nth-of-type(2) > ul > li > a:hover > span{
   color: rgb(41, 156, 156);
 }
 .topmanubar > ul > li > a > span{
   font-size: 16px;
 }
 .topmanubar > div:nth-of-type(3){
   width: 32px; height: 23px;
   margin: 0 0 0 40px;
 }
  .sidebar {
     width: 100%;
     position: fixed;
     top: 0;
     right: -100%;
     height: 100vh;
     z-index: 99999999;
     background: #fff;
     color: #333;
     transition: all 0.7s;
     border: 1px solid #918b8b;
     padding: 14px 20px 0;
     font-family: "Noto Sans KR Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
      color: #666;
      background-color: #fff;
      font-size: 16px;
      letter-spacing: -2px;
  }
  .sidebar.active {right:0;}
  
  .sidebar > .sidebar-top{
     height: 41px;
     display: flex;
     justify-content: center;
  
  }
  .sidebar > .sidebar-top > a{
     height: 36px;
  }

  .sidebar > .sidebar-top > a > img{
     height: 100%;
 }

  .sidebar > .sidebar-top > .close-button{
     width: 24px;
     padding: 0;
     margin: 0;
     position: absolute;
     right: 10px  ; top : 30px;
     background: none;
     border: none;
     cursor: pointer;
  }
  .sidebar > .sidebar-top > .close-button > span{
     position: absolute;
     left: 0%;
     background-color: black;
     width: 100%;
     height: 2px;
  
  }
  .sidebar > .sidebar-top > .close-button > span:nth-of-type(1){
     transform: rotate(45deg);
  }
  .sidebar > .sidebar-top > .close-button > span:nth-of-type(2){
     transform: rotate(-45deg);
  }
  .sidebar > .sidebar-middle{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     margin-top: 0px;
     font-weight: 700;
  }
  .sidebar > .sidebar-middle > .side-frame{
     padding-left: 0px;
     padding-right: 20px;
     margin : 20px;
  }
  .sidebar > .sidebar-middle > .side-frame > .manu1{
     margin-bottom: 16px;
  }
  .sidebar > .sidebar-middle > .side-frame > .manu1 > span{
     font-family: "Noto Sans KR Bold";
      font-weight: 700;
      font-size: 25px;
      color: #000;

  }
  .sidebar > .sidebar-middle > .side-frame  >ul{
  
  }
  .sidebar > .sidebar-middle > .side-frame  >ul > li{
     height: 30px;
     display: list-item;
     letter-spacing: -0.5px;
  }
  .sidebar > .sidebar-middle > .side-frame  >ul > li > a{
     padding: 0px 0;
  }
  .sidebar > .sidebar-middle > .side-frame >ul > li > a > span{
      font-size: 18px;
      letter-spacing: -0.5px;
      color: #000;
      font-family: "Noto Sans KR Medium";
      font-weight: 400;
      padding-left: 10px;
      
  }
  
  .overlay {
     position: fixed;
     left: 0; top: 0;
     width: 100vw;
     height: 100vh;
     background: rgba(104, 101, 101, 0.7);
     z-index: 99;
     display: none;
  }
  footer{
     border-top: 1px solid rgb(161, 156, 156);
     position: static;
     right: 0;
      left: 0;
      bottom: 0;
   }
   footer > .inner-container-X1{
      width: 100%;
      padding: 30px 20px 42px 20PX;
      position: static;
   }
   footer > .inner-container-X1 > div:nth-of-type(1){
      position: relative;
      width: auto;
      top: 0px; right: 0px;
      border-bottom: 1.5px solid #000;
      color: rgb(179, 170, 170);
      z-index: 900;
   }
   footer > .inner-container-X1 > div:nth-of-type(1)::after{
      content: url(../img/ico_arrow_footer_mo.png);
      transform: scaleY(-1);
      position: absolute;
      right: 0; top: 0;

   }
   footer > .inner-container-X1 > div:nth-of-type(1) > button{
      background-color: white;
      border: none;
      font-size: 14px;
      padding: 0 0 15px 0;
      position: relative;
      letter-spacing: -0.5px;
      font-weight: bold;
   }
   /* footer > .inner-container-X1 > div:nth-of-type(1) > button::before{
      content: url(../img/ico_arrow_btm.png);
      position: absolute;
      background-image: url(../img/ico_arrow_btm.png);
      top: 0%; right: 0;
   } */
   footer > .inner-container-X1 > ul{
      margin: 0 0 0 -5px;
      display: flex;
      font-weight: bold;
      color: #000;
      margin-bottom: 20px;
   }
   footer > .inner-container-X1 > ul > li{
     font-size: 13px;
     letter-spacing: -0.5px;
   }
   footer > .inner-container-X1 > ul > li:nth-of-type(1){
     padding-left: 5px;
     margin: 10px 0 0 0;
   }
   footer > .inner-container-X1 > ul > li:nth-of-type(2){
     padding-left: 20px;
     margin: 10px 0 0 0;
   }
   footer > .inner-container-X1 > div:nth-of-type(2){
      display: flex;
      font-size: 13px;
      letter-spacing: -0.5px;
      padding-top: 10px;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      
   }
   footer > .inner-container-X1 > div:nth-of-type(2) > address{
      padding-left: 0px;
      padding-right: 100px;
      color: rgb(179, 170, 170);
      font-style: normal;
      display: block;
      width: 100%;
   }
   footer > .inner-container-X1 > div:nth-of-type(2) > p{
      padding-left: 0px;
      color: rgb(179, 170, 170);
      margin: 5px 0;
      display: block;
      width: 100%;
   }
   footer > .inner-container-X1 > div:nth-of-type(2) > small{
     padding-left: 0px;
     color: rgb(179, 170, 170);
     display: block;
     width: 100%;
   }
 }